%transition {
  transition: 0.5s ease-in-out;
}

$color-default: rgba(233, 152, 111, 0.959);
$color-default-l: rgb(255, 164, 116);
$color-default-border-d: rgb(235, 108, 62);
$color-default-border-l: rgb(255, 204, 153);

$color-summer: rgba(187, 187, 187, 0.945);
$color-summer-l: rgb(208, 208, 208);
$color-summer-border-d: rgb(156, 156, 156);
$color-summer-border-l: rgb(229, 228, 226);

$color-spring: rgba(91, 201, 131, 0.932);
$color-spring-l: rgb(48, 186, 143);
$color-spring-border-d: rgb(50, 148, 64);
$color-spring-border-l: rgb(208, 240, 192);

$color-winter: rgba(0, 191, 255, 0.945);
$color-winter-l: rgb(204, 204, 255);
$color-winter-border-d: rgb(20, 146, 230);
$color-winter-border-l: rgb(74, 174, 245);

$color-dark: rgba(13, 9, 63, 0.925);
$color-dark-l: rgb(34, 19, 95);
$color-dark-border-d: rgb(77, 0, 77);
$color-dark-border-l: rgb(73, 52, 158);

.head__opt,
.count,
.field,
.result,
.modal__window {
  border-top: 4px solid $color-default-border-d;
  border-left: 4px solid $color-default-border-d;
  border-right: 4px solid $color-default-border-l;
  border-bottom: 4px solid $color-default-border-l;
}
.head__opt_summer,
.count_summer,
.field_summer,
.result_summer,
.modal__window_summer {
  border-top: 4px solid $color-summer-border-d;
  border-left: 4px solid $color-summer-border-d;
  border-right: 4px solid $color-summer-border-l;
  border-bottom: 4px solid $color-summer-border-l;
}
.head__opt_summer,
.count_summer,
.field_summer,
.result_summer,
.modal__window_summer {
  border-top: 4px solid $color-summer-border-d;
  border-left: 4px solid $color-summer-border-d;
  border-right: 4px solid $color-summer-border-l;
  border-bottom: 4px solid $color-summer-border-l;
}
.head__opt_spring,
.count_spring,
.field_spring,
.result_spring,
.modal__window_spring {
  border-top: 4px solid $color-spring-border-d;
  border-left: 4px solid $color-spring-border-d;
  border-right: 4px solid $color-spring-border-l;
  border-bottom: 4px solid $color-spring-border-l;
}
.head__opt_winter,
.count_winter,
.field_winter,
.result_winter,
.modal__window_winter {
  border-top: 4px solid $color-winter-border-d;
  border-left: 4px solid $color-winter-border-d;
  border-right: 4px solid $color-winter-border-l;
  border-bottom: 4px solid $color-winter-border-l;
}
.head__opt_dark,
.count_dark,
.field_dark,
.result_dark,
.modal__window_dark {
  border-top: 4px solid $color-dark-border-d;
  border-left: 4px solid $color-dark-border-d;
  border-right: 4px solid $color-dark-border-l;
  border-bottom: 4px solid $color-dark-border-l;
  color: #fff;
}

.btn-restart,
.cell {
  border-right: 3px solid $color-default-border-d;
  border-bottom: 3px solid $color-default-border-d;
  border-top: 3px solid $color-default-border-l;
  border-left: 3px solid $color-default-border-l;
}
.btn-restart_summer,
.cell_summer {
  border-right: 3px solid $color-summer-border-d;
  border-bottom: 3px solid $color-summer-border-d;
  border-top: 3px solid $color-summer-border-l;
  border-left: 3px solid $color-summer-border-l;
}
.btn-restart_spring,
.cell_spring {
  border-right: 3px solid $color-spring-border-d;
  border-bottom: 3px solid $color-spring-border-d;
  border-top: 3px solid $color-spring-border-l;
  border-left: 3px solid $color-spring-border-l;
}
.btn-restart_winter,
.cell_winter {
  border-right: 3px solid $color-winter-border-d;
  border-bottom: 3px solid $color-winter-border-d;
  border-top: 3px solid $color-winter-border-l;
  border-left: 3px solid $color-winter-border-l;
}
.btn-restart_dark,
.cell_dark {
  border-right: 3px solid $color-dark-border-d;
  border-bottom: 3px solid $color-dark-border-d;
  border-top: 3px solid $color-dark-border-l;
  border-left: 3px solid $color-dark-border-l;
  color: #fff;
}

.btn-restart {
  &_active {
    border-left: 3px solid $color-default-border-d;
    border-top: 3px solid $color-default-border-d;
    border-bottom: 3px solid $color-default-border-l;
    border-right: 3px solid $color-default-border-l;
  }
}
.btn-restart_summer.btn-restart_active {
  border-left: 3px solid $color-summer-border-d;
  border-top: 3px solid $color-summer-border-d;
  border-bottom: 3px solid $color-summer-border-l;
  border-right: 3px solid $color-summer-border-l;
}
.btn-restart_spring.btn-restart_active {
  border-left: 3px solid $color-spring-border-d;
  border-top: 3px solid $color-spring-border-d;
  border-bottom: 3px solid $color-spring-border-l;
  border-right: 3px solid $color-spring-border-l;
}
.btn-restart_winter.btn-restart_active {
  border-left: 3px solid $color-winter-border-d;
  border-top: 3px solid $color-winter-border-d;
  border-bottom: 3px solid $color-winter-border-l;
  border-right: 3px solid $color-winter-border-l;
}
.btn-restart_dark.btn-restart_active {
  border-left: 3px solid $color-dark-border-d;
  border-top: 3px solid $color-dark-border-d;
  border-bottom: 3px solid $color-dark-border-l;
  border-right: 3px solid $color-dark-border-l;
  color: #fff;
}

.cell {
  background-color: $color-default-l;

  &_active {
    border-right: 3px solid rgba(156, 156, 156, 0);
    border-bottom: 3px solid rgba(156, 156, 156, 0);
    border-top: 3px solid $color-default-border-d;
    border-left: 3px solid $color-default-border-d;
  }

  &_open {
    background-color: $color-default;
    border-right: 3px solid rgba(156, 156, 156, 0);
    border-bottom: 3px solid rgba(156, 156, 156, 0);
    border-top: 3px solid rgba(156, 156, 156, 0);
    border-left: 3px solid rgba(156, 156, 156, 0);
    outline: 1px solid $color-default-border-d;
    outline-offset: -1px;
  }
}

.cell_summer {
  background-color: $color-summer-l;
}
.cell_spring {
  background-color: $color-spring-l;
}
.cell_winter {
  background-color: $color-winter-l;
}
.cell_dark {
  background-color: $color-dark-l;
}

.cell_summer.cell_active {
  border-top: 3px solid $color-summer-border-d;
  border-left: 3px solid $color-summer-border-d;
}
.cell_spring.cell_active {
  border-top: 3px solid $color-spring-border-d;
  border-left: 3px solid $color-spring-border-d;
}
.cell_winter.cell_active {
  border-top: 3px solid $color-winter-border-d;
  border-left: 3px solid $color-winter-border-d;
}
.cell_dark.cell_active {
  border-top: 3px solid $color-dark-border-d;
  border-left: 3px solid $color-dark-border-d;
}

.cell_summer.cell_open {
  outline: 1px solid $color-summer-border-d;
}
.cell_spring.cell_open {
  outline: 1px solid $color-spring-border-d;
}
.cell_winter.cell_open {
  outline: 1px solid $color-winter-border-d;
}
.cell_dark.cell_open {
  outline: 1px solid $color-dark-border-d;
}

.game {
  background-color: $color-default;

  &_summer {
    background-color: $color-summer;
  }
  &_spring {
    background-color: $color-spring;
  }
  &_winter {
    background-color: $color-winter;
  }
  &_dark {
    background-color: $color-dark;
  }
}

.modal__window {
  background-color: $color-default;

  &_summer {
    background-color: $color-summer;
  }
  &_spring {
    background-color: $color-spring;
  }
  &_winter {
    background-color: $color-winter;
  }
  &_dark {
    background-color: $color-dark;
    color: #fff;
  }
}

.result__item {
  border-top: 2px solid $color-default-border-d;

  &_summer {
    border-top: 2px solid $color-summer-border-d;
  }
  &_spring {
    border-top: 2px solid $color-spring-border-d;
  }
  &_winter {
    border-top: 2px solid $color-winter-border-d;
  }
  &_dark {
    border-top: 2px solid $color-dark-border-d;
    color: #fff;
  }
}

// ///////////////////////////////////////////////////

html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
  @extend %transition;
}

input,
select {
  outline: none;
  border: none;
}

.bg-gif {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('../assets/gif/осень.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @extend %transition;
  &_dark {
    background-image: url('../assets/gif/image051-8.gif');
  }

  &_winter {
    background-image: url('../assets/gif/зима.gif');
  }

  &_spring {
    background-image: url('../assets/gif/весна.gif');
  }

  &_summer {
    background-image: url('../assets/gif/лето.gif');
  }
}

.game {
  margin: 100px auto 0 auto;
  max-width: fit-content;
  border-radius: 20px;
  @extend %transition;
}

// //////////////////////////////////

.game__head {
  padding: 20px 0 15px 0;
  margin: 0 30px;
}

.head__opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  @extend %transition;
}

.head__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 30%;
}

.head__sound {
  width: 30px;
  height: 30px;
  cursor: pointer;
  @extend %transition;
  background-image: url(../assets/svg/1486485571-198high-loud-music-on-sound-speaker-volume_81180.svg);

  &_off {
    background-image: url(../assets/svg/1486506271-music-mute-sound-volume-speaker-audio-player_81465.svg);
  }
}

.head__theme {
  @extend %transition;
  width: 30px;
  height: 30px;
  background-image: url('../assets/svg/tree_autumn.svg');
  background-size: cover;
  cursor: pointer;

  &_dark {
    background-image: url('../assets/svg/moon_stars_night_midnight_sky_icon_194248.svg');
  }

  &_winter {
    background-image: url('../assets/svg/tree_winter.svg');
  }

  &_spring {
    background-image: url('../assets/svg/tree_summer.svg');
  }

  &_summer {
    background-image: url('../assets/svg/tree_spring.svg');
  }
}

.head__size {
  cursor: pointer;
}

.game__content {
  margin: 0 30px;
  padding: 20px 0 15px 0;
  user-select: none;
}

.count {
  padding: 10px 30px 10px 30px;
  margin-bottom: 20px;
  @extend %transition;
}

.count__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count__duration,
.count__clicks,
.count__flags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 2px;
  background-color: rgb(31, 8, 59);
  color: red;
  font-size: 22px;
}

.btn-restart {
  margin: 0 auto 10px auto;
  width: 35px;
  height: 30px;
  padding: 2px;
  text-align: center;
  background-image: url('../assets/svg/2369360-emoticon-face-smiley-wink_85407.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;

  &_lose {
    background-image: url('../assets/svg/2369366-emoticon-face-mute-smiley_85428.svg');
  }
}

// ///////////////////////////////////////////

.game__field {
  @extend %transition;
}

.field__row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  max-height: 20px;
  min-width: 10px;
  min-height: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;

  &_bomb {
    background-image: url('../assets/svg/bomb_icon_136879.svg');
    background-position: center;
    background-size: cover;
  }

  &_flag {
    background-image: url('../assets/svg/флаг.svg');
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 730px) {
  .cell {
    width: 15px;
    height: 15px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .cell {
    width: 10px;
    height: 10px;
    font-size: 12px;
  }
}

// ////////////////////////

.result {
  box-sizing: border-box;
  @extend %transition;
}

.game__result {
  margin: 20px 30px;
  padding: 10px 0 20px 0;
}

.result__heading {
  margin: 0 0 20px 10px;
}

.result__list {
  margin: 0 0 10px 0;
  list-style: none;
  padding: 0;
  text-align: center;
}

.result__item {
  font-size: 16px;
  padding: 5px 5px;
}

// /////////////////////////

[data-col='1'] {
  color: blue;
}

[data-col='2'] {
  color: green;
}

[data-col='3'] {
  color: red;
}

[data-col='4'] {
  color: mediumvioletred;
}

[data-col='5'] {
  color: rgb(221, 133, 0);
}

[data-col='6'] {
  color: rgb(3, 241, 3);
}

[data-col='7'] {
  color: indigo;
}

[data-col='8'] {
  color: black;
}

// /////////////////////////////////////

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__window {
  width: 400px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.modal__heading {
  text-align: center;
  margin: 0;
}

.modal__text {
  text-align: center;
  margin: 0;
  font-size: 16px;
}

.modal__img {
  width: 40px;
  height: 35px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;

  &_lose {
    background-image: url('../assets/svg/2369379-emoticon-face-scared-smiley_85406.svg');
  }

  &_win {
    background-image: url('../assets/svg/2369370-cool-emoticon-face-smiley_85422.svg');
  }
}
